// Basic colors
$black: #000000;
$white: #ffffff;

$gray-50: #f6f6f6;
$gray-100: #eeeeee;
$gray-125: #ebebeb;
$gray-150: #ededed;
$gray-200: #d2dbdc;
$gray-300: #dddddd;
$gray-500: #999999;
$gray-600: #919191;
$gray-650: #777777;
$gray-700: #525252;

$whatsApp: #4adf83;
$app-background: #eae6df;
$app-background-deeper: #d1d7db;
$app-background-stripe: #00a884;
$conversation-panel-background: #efeae2;
